PROJET ANALYSE

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data="/Users/user/Desktop/Data Analyse/dataAnalyseProjetBlanc/data/COVID-19.csv"
df=pd.read_csv(data)

In [4]:
df.head()

,Date,Country_Region,Province_State,Difference,Prep_Flow_Runtime,Latest_Date,Case_Type,Cases,Lat,Long
0,3/9/2020,India,NaN,0,3/24/2020 9:39:03 AM,3/23/2020,Deaths,0,21.0,78.0
1,3/8/2020,India,NaN,0,3/24/2020 9:39:03 AM,3/23/2020,Deaths,0,21.0,78.0
2,3/7/2020,India,NaN,0,3/24/2020 9:39:03 AM,3/23/2020,Deaths,0,21.0,78.0
3,3/6/2020,India,NaN,0,3/24/2020 9:39:03 AM,3/23/2020,Deaths,0,21.0,78.0
4,3/5/2020,India,NaN,0,3/24/2020 9:39:03 AM,3/23/2020,Deaths,0,21.0,78.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35502 entries, 0 to 35501
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               35502 non-null  object
 1   Country_Region     35502 non-null  object
 2   Province_State     15616 non-null  object
 3   Difference         35502 non-null  int64
 4   Prep_Flow_Runtime  35502 non-null  object
 5   Latest_Date        35502 non-null  object
 6   Case_Type          35502 non-null  object
 7   Cases              35502 non-null  int64
 8   Lat                35136 non-null  float64
 9   Long               35136 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 2.7+ MB

In [6]:
print(df.head().to_markdown())

|    | Date     | Country_Region   |   Province_State |   Difference | Prep_Flow_Runtime    | Latest_Date   | Case_Type   |   Cases |   Lat |   Long |
|---:|:---------|:-----------------|-----------------:|-------------:|:---------------------|:--------------|:------------|--------:|------:|-------:|
|  0 | 3/9/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  1 | 3/8/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  2 | 3/7/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  3 | 3/6/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  4 | 3/5/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |